@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

body {
  @apply bg-black text-white;
}
